@charset "Shift_JIS";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);


/*
    bar width = 5vw
    bar button width = 15vw (translate 14vw)
    展開時 : 20 vw
*/

body {
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    font-family:"NotoSansJP","ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
}

.noto100 {
    font-family:"NotoSansJP""ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
    font-weight:100;
}
.noto300 {
    font-family:"NotoSansJP""ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
    font-weight:400;
    font-feature-settings : "palt";
}
.fa-white{
    font-size: 3vw;
    color:#ffffff;
}

/*Menu bar*/
#menu_bar{
    position   : fixed;
    width      : 5vw;
    height     : 105%;
    background-attachment: fixed;
    background-color  : rgba(0,0,0,0.6);
    border-style      : none;
    -webkit-transform : translateX(0);
    transform         : translateX(0);
    -webkit-transition: 0.5s cubic-bezier(0.75,0,0.175,1);
    transition        : 0.5s cubic-bezier(0.75,0,0.175,1);   
}


#menu{
    z-index: 20;
    position: fixed;
    height  : 100%;
    background-color: rgba(0,0,0,0.6);
    background-attachment: fixed;
    -webkit-transform : translateX(0);
    transform         : translateX(0);
    -webkit-transition: 0.5s cubic-bezier(0.75,0,0.175,1);
    transition        : 0.5s cubic-bezier(0.75,0,0.175,1);
}


#slide_menu{
    position: fixed;
    left    : -15vw;
    width   : 15vw;
    height  : 100vh;
    background-repeat: repeat;
    background-color: rgba(0,0,25,0.6);
    background-attachment: fixed;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 1s cubic-bezier(0.75,0,0.175,1);
    transition: 1s cubic-bezier(0.75,0,0.175,1);
    
}
#menu:hover {
    -webkit-transform: translateX(14vw);
    transform: translateX(14vw);
}
#slide_menu img{
  margin-left:-40px; /*なぜかpix分スケールに応じてずれるのでpx表記*/ 
  width: 14vw;
}

.itm_hover:hover{
   background-color : rgba(164, 151, 151,0.2);
}



/*Header*/
#maintop{
    background-image   : url(../image/top.png); 
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    top:0;
    overflow   : hidden;
    width      : 100vw;
    height     : 80vh;
    margin-left:-10px;
    margin-top :-10px;
    z-index:1  ;
}

#maintop_text{
    font-family: 'Roboto', sans-serif;
    font-size  : 8vw;
    color      :#ffffff;
    text-align:left;
    position:absolute;
    bottom:25vh;
    left  :10vw;
}


.contents_blackbg {
    float:left;
    z-index:0;
    background-color: #000000;
    width: 100vw;
    margin-left  :-10px;
    margin-top   :-25px;   
}

.contents_blackbg_text {
    color: #cacaca;
    font-family:"NotoSansJP""ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
    font-weight:500;
    font-feature-settings : "palt";

    padding  : 2vh 10vw 4vh 10vw;
}


.contents_whitebg {
    float:left;
    z-index:0;
    width        : 100vw;
    margin-left  :-10px;
    margin-top   :-25px;   
}

.contents_whitebg_text {
    color: #464646;
    font-family:"NotoSansJP""ヒラギノ角ゴ Pro W3","メイリオ",sans-serif;
    font-weight:500;
    font-feature-settings : "palt";
    padding  : 4vh 10vw 4vh 10vw;
}






.research_topic_box{
    background-color:#f0f0f0;

    float:left;
    display:block;
    width:400px;
    padding:10px 10px 10px 20px;
    margin:10px 20px 10px 0px;
}


.rttable td:nth-child(1)
{
    width :120px;
}

.rttable td:nth-child(2)
{
    width:250px;
    text-align:left;
    padding-left:10px;
}















#head{
    background-image   : url(../image/head.png); 
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
    width       : 100vw ;
    height      : 30vh  ;
    overflow    : hidden;
    margin-left :-10px  ;
    margin-top  :-10px  ;
    z-index:1;
}

#head_text{
    font-family: 'Roboto', sans-serif;
    font-size   : 6vw    ;
    color       : #ffffff;
    top         : 10vh;
    padding-left: 10vw   ;
    position    : absolute;
}






/*member page*/
.membox {
    background-color:#f0f0f0;

    float:left;
    display:block;
    width:400px;
    margin :10px 10px 10px  0px;
    padding:10px 10px 10px 10px;
}

.mbtable td:nth-child(1)
{
    width :150px;
}

.mbtable td:nth-child(2)
{
    width:230px;
    text-align:left;
    padding-right:10px;
}

.mbtable img{
    width:150px;
}





/*publication page*/
.PubList {
}
ol.PubList{
    margin-bottom: 30px;
}

ol.PubList li{
    text-align    : justify;
    padding-bottom: 15px;
}



.FundTable
{
}

.FundTable td:nth-child(1)
{
    width      :150pt;
    text-align :left;
    padding    :10px 0em 0em 0px;
}

.FundTable td:nth-child(2)
{
    text-align:left;
    padding: 0.3em 0em 0em 0em;
}

